{
  "parserOptions": {
    "ecmaVersion": 2019,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "extends": ["eslint:recommended", "eslint-config-prettier"],
  "rules": {
    "strict": ["warn", "never"],
    "semi": ["warn", "never"],
    "no-console": "warn"
    // "valid-typeof": "warn",
    // "no-undef": "error",
    // "no-unsafe-negation": "error",
    // "no-unexpected-multiline": "error",
    // "no-unused-vars": "warn"
  },
  "env": {
    "browser": true
  }
}
